<div class="container">
    <div class="row">
        <div class="col-md-5">
            <img src="{image}" style="width: 100%;">
        </div>
        <div class="col-md-7">
            <h2 class="pt-3"><b class="text-secondary"> {title} </b></h2>
            <h5 class="mt-3">{subtitle}</h5>
            <p class="mt-3"> {description} </p>
            <p class="mt-3"> <strong>Autor do curso:</strong> {name} </p>
            <a href="../teamworkv2/classes/saveEnrollment.php?courseId={courseId}" type="button" class="btn btn-primary" onclick="">Inscreva-se</a>
        </div>
    </div>
</div>