<div class="container">
    <div class="row">
        <div class="col-2">
            <form class="form-inline" novalidate method="POST" action="controllers/saveUser.php">
                <div class="form-group">
                  <label for="nameInput">Nome</label> <br>
                  <input style="width: 50rem;" name="name" type="text" class="form-control" id="nameInput" placeholder="Nome Completo">
                </div> 
                <br><br>
                <div class="form-group">
                  <label for="emailInput">E-mail</label><br>
                  <input style="width: 50rem;" name="email" type="email" class="form-control" id="emailInput" placeholder="Email">
                </div>
                <br><br>
                <div class="form-group">
                    <label for="CPFInput">CPF</label><br>
                    <input style="width: 50rem;" name="cpf" type="text" class="form-control" id="CPFInput" placeholder="CPF">
                </div>
                <br><br>
                <div class="form-group">
                    <label for="passwordInput">Senha</label><br>
                    <input style="width: 50rem;" name="password" type="password" class="form-control" id="passwordInput" placeholder="Senha">
                </div>
                <br><br>
                <div class="form-group">
                    <label for="passwordRepeatedInput">Repita a Senha</label><br>
                    <input style="width: 50rem;" type="password" class="form-control" id="passwordRepeatedInput" placeholder="Repita a Senha">
                </div>  
                <br>
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> Concordo com todos os termos de conficialidade.
                  </label>
                </div>
                <br><br>
                <input type="button" class="btn btn-default" value="Registrar" onclick="validateRegisterForm()"></input>
                <br><br>
            </form>
        </div>
    </div>
</div>
