<div class="container">
 <div class="row">
  <div class="col-2">

   <h2 class="pt-3"><b class="text-secondary"> Login </b></h2><hr>
   <form class="form-inline" novalidate method="POST" action="templates/Login/checkLogedIn.php">
             
    <div class="form-group">
     <label for="exampleInputPassword1">E-mail</label><br>
     <input style="width: 50rem;" name="email" type="email" class="form-control" id="exampleInputPassword1" placeholder="Email">
    </div>
    <br><br>

    <div class="form-group">
     <label for="exampleInputPassword1">Senha</label><br>
     <input style="width: 50rem;" name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="senha">
    </div>
    <br><br>

    <button type="submit" class="btn btn-danger">Registrar</button>
    <br><br>

   </form>

  </div>
 </div>
</div>