<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="scripts/validation.js"></script>
    <style>
      /* Remove the navbar's default rounded borders and increase the bottom margin */ 
      .navbar {
        margin-bottom: 50px;
        border-radius: 0;
      }
      
      /* Remove the jumbotron's default bottom margin */ 
      .jumbotron {
        margin-bottom: 0;
      }
      /* Add a gray background color and some padding to the footer */
      footer {
        background-color: #f2f2f2;
        padding: 25px;
      }
  </style>
  </head>
  <body>
    
    <div class="jumbotron">
      <div class="container text-center">
        <h1>MS-Code</h1>      
        <p>Seu portal de Cursos On-Line</p>
      </div>
    </div>
      {menu}
      {content}
      {notification}
    <footer class="container-fluid text-center">
      <p>Direitos autorais da loja online</p>
      <form class="form-inline" action="/teamworkv2/filterCourses.php">Procurar curso:
        <input class="form-control" type="search" size="50" placeholder="Digite o nome do Curso" aria-label="Search" name="courseName">
        <button class="btn btn-danger" type="submit">Procurar</button>
      </form>
    </footer>
  </body>
</html>
